.down{
    width: 2px;
    height: 40px;
    background-color: black;
    
}
.side{
    width: 600px;
    height: 2px;
    background-color: black;
    
}


.p1{
    display: inline-block;
}
.p1c{
    padding:20px 20px 20px 20px ; 
    display: inline-block;
    border:3px solid black;
}
#p1c1{
    margin: 50px 10px 0px 60px;
}

#p1c2{
    align: right;
    margin: 50px 60px 0px 240px;
    
}
body{
    background-color: aqua;
}