body{
    background-color: aqua;
}

.down{
    width: 2px;
    height: 40px;
    background-color: black;
    
}
.side{
    width: 600px;
    height: 2px;
    background-color: black;
    
}

.vithobakid{
    display: inline-block;
    padding-top: 40px;
}
#vithkid2{
    margin-left: 60%;
}

