body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

#navbar {
    height: 6vmin;
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin:2vh;
    color: #1b1b1b;
}

.container {

    height: 80vh;
}
.vithobaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childrenContainer {

    height: 45vmin;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50vh;
}

#vithoba {

    height: 40vh;
    text-align: center;
}

#vithobaimg {

    border-radius: 50vmin;
    width: 30vmin;
    height: 30vmin ;
    object-fit: cover;
    border: 5px solid #888;
}

#vithoba a {
    text-decoration: none;
    color: #0056b3;
    font-size: 20px;
    font-weight: bold;
}

.vithobaKid {
    display: inline-block;
    height: 40vmin;
    width: 25vmin;
    padding: 10px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vithobaKid img {
    height: 35vmin;
    width: 25vmin;
    border-radius: 2vh;
}

.vithobakid a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
}





.hide {

    display: none;
}

.after {

    display: inline-block;
    height: 50vmin;
    width: 35vmin;
    padding: 15px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.after img {

    height: 45vmin;
    width: 35vmin;
}