body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

#navbar {
    height: 50px;
    background-color: #0056b3;
}

#vithoba {
    margin: 20px auto;
    padding: 10px;
    width: 400px;
    text-align: center;
}

#vithobaimg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #888;
}

#vithoba a {
    text-decoration: none;
    color: #0056b3;
    font-size: 20px;
    font-weight: bold;
}

.vithobakid {
    display: inline-block;
    width: 20%;
    margin: 20px 2%;
    padding: 10px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vithobakid img {
    width: 300px;
    border-radius: 10px;
}

.vithobakid a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
}

#vithkid2{
    margin-left: 325px;
}

#vithkid1{
    margin-left: 255px;
}




@media screen and (max-width: 768px) {
    #vithobaimg {
        width: 300px;
    }

    .vithobakid {
        width: 90%;
        margin: 10px auto;
    }
}
